* {
  box-sizing: border-box;
}

.page-title {
  text-align: center;
  font-size: 2em;
  color: #80c6f6;
}

form {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
  padding: 20px;
}

form div {
  margin-bottom: 1em;
}

form label {
  font-weight: bold;
  color: #666;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="number"] {
  width: 100%;
  padding: 0.8em;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.button {
  display: inline-flex;  
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 40px;
  border-radius: 3px;
  text-decoration: none;  
  transition: background 0.3s ease;
  cursor: pointer;
}

form input[type="submit"].button {
  background-color: #0099ff;
  color: white;
  border: none;

}

form input[type="submit"].button:hover {
  background-color: #007acc;
}

textarea {
  resize: vertical;
  width: 100%;
}

form a.back-button.button {
  margin-left: 20px;
  background-color: #ccc;
  color: black;
}

form a.back-button.button:hover {
  background-color: #aaa;
}

